.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Secondary footer parent elements */
.footerInfo {
    display: flex;
}
.footerBot {
    display: flex;
    flex-direction: column;
}
/* Third footer parent elements */
.footerInfoLeft,
.footerInfoCenter,
.footerInfoRight {
    flex: 1;
    margin-top: 20px;
}
/* Styles for "Linkkejä" */
.linksBox {
    padding-left: 50%;
    width: 50%;
}
.linksTitle {
    margin-bottom: 17px;
    text-align: left;
    font-size: 16px;
}
.linksList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.linkItem {
    font-size: 14px;
    padding-bottom: 3px;
    list-style: none;
    text-align: left;
    cursor: pointer;
}
/* Styles for "Yhteystiedot" */

.contactTitle {
    text-align: left;
    font-size: 16px;
}
.contactBox p {
    text-align: left;
    font-size: 14px;
    justify-content: center;
}
.contactBox .icon {
    position: relative;
    top: 6px;
    left: 5px;
    padding-right: 6px;
}

.contactBox {
    padding-left: 20%;
    width: 80%;
}
/* Styles for "Maksutavat" */

.paymentImages {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    filter: grayscale();
}
.paymentTitle {
    text-align: left;
    font-size: 16px;
}
.bigLogo {
    display: flex;
    margin: 10px 0;
    justify-content: center;
}
.bLogo {
    height: 100px;
    width: auto;
    padding-left: 0;
}
.smallLogos {
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sLogo {
    height: 32px;
    padding-bottom: 1px;
}
/* Styles for social logos*/
.socialContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 7px;
}
/* Styles for copyright*/

.copyright {
    font-size: 10px;
    justify-content: center;
}
/* Footer separator */

.footerSeparator {
    border: 1;
    margin-top: 0;
    margin-bottom: 0;
    width: 95%;
}

@media screen and (max-width: 480px){
   
    .footer {
        flex-direction: column;
    }
    .footerInfo {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
}