.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
h2 {
    font-size: 15px;
}
.footerInfo p {
    font-size: 15px;
}
.footerInfo {
    display: flex;
    text-align: left; 
    width: 70%;
    margin-left: 150px;
}
.socialLogos {
    display: flex;
    justify-content: center;
}
.copyright {
    font-size: 12px;
} 
.info {
    padding-right: 20px;
}
.payment {
    padding-right: 20px;

}