.footer {
    width: 100%;
    display: flex;
}
h2 {
    font-size: 15px;
}
.footerInfo p {
    font-size: 15px;
}
.footerInfo {
    display: flex;
    justify-content: center;
}

.socialLogos {
    display: flex;
}
.copyright {
    font-size: 12px;
} 
.socialCopyr {
    display: flex;
}